<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <section>
        <h1>ACTIVITY</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus aliquam ipsa quaerat expedita voluptates ipsam?</p>
    </section>
    <section>
        <h1>COMMUNITY</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores, repudiandae tenetur delectus nesciunt voluptatum eos.</p>
    </section>
    <section>
        <h1>CHALLENGES</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo repudiandae veritatis delectus optio, culpa accusamus.</p>
    </section>
</div>